* {
  font-family: "Poppins", sans-serif;
  color: #191847;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.product {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 82px;
  max-width: 887px;
  width: 100%;
  max-height: 661px;
}

.product-img {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  max-width: 249px;
}

.product-img img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.product-details {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.product-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .badge {
  background-color: #191847;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 4px 8px;
  border-radius: 20px;
  width: 114px;
} */

/* Frame 3 */

.badge {
  background-color: #191847;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 8px;
  gap: 10px;

  width: 112px;
  height: 29px;

  border-radius: 20px;
  /* Free shipping */

  font-weight: 500;
  font-size: 14px;

  /* identical to box height */

  color: #ffffff;

  /* Inside auto layout */
}

h2 {
  /* Razer Kraken Kitty Edt Gaming Headset Quartz */

  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  /* #191847 */
  color: #191847;
}

.price-group {
  display: flex;
  flex-direction: column;
}

.old-price {
  text-decoration: line-through;
  color: #64748b;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.price {
  font-size: 48px;
  font-weight: 700;
  margin: -8px 0;
}

.subtitle {
  font-size: 14px;
  margin-top: -4px;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  gap: 10px;
  background-color: #4788e9;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 7px 0px 0px #1c57ee;
  transition: all 0.1s ease;
}

.btn-primary:active {
  transform: translateY(7px);
  box-shadow: 0px 0px 0px 0px transparent;
}

.stock-status {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 600;
  color: #334155;
  margin-top: 4px;
}

.btn-group {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.btn-secondary {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid #c9c9da;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.dot {
  width: 13px;
  height: 13px;
  background-color: #00d98b;
  border-radius: 50%;
}
